
{erl_opts, [debug_info]}.

{deps, [getopt]}.

{dialyzer, [ {plt_extra_mods, [getopt]} ] }.

{escript_incl_apps,
 [wfnet, getopt]}.

{escript_main_app, wfnet}.

{escript_name, wfnet_cli}.

{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
